/*-------- configurações gerais --------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  color: white;
}

/*-------------- header ----------------*/
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Montserrat, Medium;
}

#menu-responsivo {
display: none;
} 

.menu {
  width: 98vh;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  /* border: 1px solid green; */
}

li {
  list-style: none;
  
}

li:hover {
  color: #9767a9;
  font-weight: bold;
  font-family: Montserrat, ExtraBold;
}

.divform {
  display: flex;
  border: 2px solid #9767a9;
  border-radius: 60px;
  padding: 5px;
}

.search {
  display: flex;
}

button {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  margin-right: 8px;
}

input {
  border: 0;
  outline: 0;
}

::placeholder {
  color: #ac95bb;
  font-size: 14px;
  position: relative;
  /* bottom: 1px; */
}

/*--------- entre header e main ---------*/

.cabeludo {
  width: 100%;
  height: 800PX;
  background-image: url(./img/cabeludo.png);
  background-position: center center;
}

h1 {
  font-size: 85px;
  position: relative;
  top: 44%;
  left: 7px;
  
  width: 22rem;
  font-family: Playfair Display, Black Roman;
}

.cabeludo p {
  font-family: Montserrat, Light;
  font-size: 40px;
  position: relative;
  left: 67%;
  top: 30%;
  width: 24rem;
}

.secondsection {
  background-color: #9767A9;
  display: flex;
  justify-content: center; 
  height: 20rem;
}

.secondsection h2 {
  position: relative;
  top: 2%;
  
  font-size: 58px;
  font-family: Playfair Display, Black Roman;
  width: 48rem;
  height: 10rem;
  
}

.secondsection p {
  position: relative;
  top: 9%;
  
  font-family: Montserrat, Light;
  font-size: 24px;
  width: 31rem;
  height: 19rem;
}


/*---------------- main ----------------*/
main {
  height: 460vh;
}

.dicas img {
  width: 36vw;
  /* height: 55vh; */
}

.dicas {
  margin-top: 8em;
  margin-bottom: -7em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.dicas figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dicas figure:nth-of-type(odd) {
  margin-top: -11em;
  height: 53vw;
}

.dicas figure:nth-of-type(even) {
  margin-top: 2em;
}

.dicas figcaption {
  margin-top: -7em;
  width: 29vw;
  padding: 4%;
  background-color: #9767A9;
}

figure h2 {
  margin-bottom: 5%;
  font-family: Playfair Display, Black Roman;
}

#linha {
  height: 8vh;
  width: 36vw;
  padding: 0 3.5em;
}


/*--------- fotos finais da main ---------*/

.sectionTwo {
  /* border: 2px solid green; */
  display: flex;
  width: 91vw;
  position: relative;
  left: 3.5%;
}

.sectionTwo img {
  /* border: 1px solid blue; */
  margin: 3px 7px;
}

.One {
  height: 80.7vh;
  width: 22vw;
}

.Two {
  height: 27vh;
  width: 22vW;
}

.Three,.Four {
  height: 39.6vh;
  width: 14vw;
}

.little {
  height: 27vh;
  width: 14vw;
}

.cabeludinho {
  height: 109.3vh;
  width: 22vw;
}

.comprido {
  height: 80.7vh;
  width: 14vw;
}

/*-------------- footer ----------------*/
footer {
  display: flex;
  height: 106px;
  background-color: #9767A9;
  text-align: center;
  justify-content: center;
  /* border: 2px solid green; */
}

.direitosAutorais {
  width: 53rem;
  height: 50px;
  position: relative;
  right: 2%;
  top: 20%;
  text-align: initial;
}

.direitosAutorais {
  font-size: 15px;
}

.container {
  width: 24rem;
  display: flex;
  position: relative;
  left: 3%;
  top: 5%;
  height: 5rem;
}

.container div {
  /* border: 2px solid orange; */
  width: 8rem;
  align-items: center;
  display: flex;
  height: 5rem;
}

.container :hover {
  background-color: #AC95BB;
  cursor: pointer;
}

p {
  color: white;
}

/*------------- responsivo  -------------*/

@media (max-width:740px) {
  
  header img {
    margin-left: 77%;
  }

  #menu-responsivo {
    display: flex;
    border: 2px solid green;
  }

  header div, form button {
    overflow: hidden;
  }

  .divform {
    border: none;
  }

    .cabeludo {
    background-image: url(./img/cabeludo2.png); 
    background-size:100%;
    background-position: cover;
    background-repeat: no-repeat;
  }

  ul {
    height: 0;
    overflow: hidden;
  }

  .dicas {
    width: 100%;
    border: 2px solid red;
  }
  
  .dicas figure img {
    width: 80%;
    border: 2px solid blue;
    margin: 5rem;
  }

  .secondsection {
    height: 32.5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 60px;
    position: relative;
    top: 30%;
    left: 10%;
  }

  .cabeludo p {
    margin-top: 0;
    font-size: 23px;
    position: relative;
    left: 10%;
    top: 31%;
    width: 14rem;
    
  }

  main {
    height: 790vh;
  }

  .secondsection h2 {
    font-size: 30px;
    border: 2px solid blue;
    height: 4.5rem;
    margin-bottom: 0;
  }

  .dicas figure:nth-of-type(odd) {
    margin-top: 0;
  }

  .secondsection {
    margin-bottom: -8em;
  }

  .secondsection p {
    border: 2px solid green;
    height: 58vh;
    margin-bottom: 6rem;
  }

  .dicas figcaption {
    width: 100%;
    height: 45vh;
    border: 2px solid green;
    margin-bottom: 1rem;
    position: relative;
    /* bottom: 2rem; */
  }

  figure {
    display: flex;
    border: 2px solid rgb(179, 255, 0);
    margin-bottom: 4rem;
  }

  .sectionTwo {
    top: 10%;
    width: 80vw;
    height: 50vh;
    border: 2px solid;
  }

}